version: 2.1

jobs:

  lint:
    docker:
      - image: cimg/python:3.7.4
    steps:
      - checkout
      - run:
          name: Linting
          command: |
            pip install pre-commit
            pre-commit run --all-files
      - run:
          name: Check docstring coverage
          command: |
            pip install interrogate
            interrogate -v --ignore-init-method --ignore-module --ignore-nested-functions --ignore-regex "__repr__" --fail-under 80 mmeval

  build_cpu:
    parameters:
      # The python version must match available image tags in
      # https://circleci.com/developer/images/image/cimg/python
      python:
        type: string
        default: "3.7.4"
      torch:
        type: string
      paddle:
        type: string
        default: "2.2.2"
      tensorflow:
        type: string
        default: "2.4"
    docker:
      - image: cimg/python:<< parameters.python >>
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install PyTorch via pip
          command: |
            python -V
            pip install --upgrade pip
            pip install torch==<< parameters.torch >>+cpu -f https://download.pytorch.org/whl/torch_stable.html
      - run:
          name: Install PaddlePaddle via pip
          command: |
            pip install paddlepaddle==<< parameters.paddle >> protobuf==3.20.*
      - run:
          name: Install TensorFlow via pip
          command: |
            pip install tensorflow==<< parameters.tensorflow >>
      - run:
          name: Install JAX via pip
          command: |
            pip install "jax[cpu]"
      - run:
          name: Install OneFlow via pip
          command: |
            pip install -f https://release.oneflow.info oneflow==0.8.0+cpu "numpy<1.24.0"
      - run:
          name: Install mmeval and dependencies
          command: |
            pip install -r requirements/tests.txt
            pip install -r requirements/optional.txt
            pip install -e .
      - run:
          name: Run unittests
          command: |
            coverage run --branch --source mmeval -m pytest -vv tests/
            coverage xml
            coverage report -m

  build_mpirun_and_tf:
    parameters:
      tensorflow:
        type: string
    docker:
      - image: cimg/python:3.7.4
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install Libraries
          command: |
            sudo apt-get update
            sudo apt-get install -y libopenmpi-dev
      - run:
          name: Install TensorFlow and Horovod via pip
          command: |
            python -V
            pip install --upgrade pip
            pip install mpi4py
            pip install tensorflow==<< parameters.tensorflow >>
            HOROVOD_WITH_TENSORFLOW=1 pip install horovod[tensorflow]
            horovodrun --check-build
      - run:
          name: Install mmeval dependencies and install mmeval
          command: |
            pip install -r requirements/tests.txt
            pip install -r requirements/optional.txt
            pip install -e .
      - run:
          name: Run dist_backends unittests with mpi
          command: |
            mpirun -np 2 pytest -vv --capture=no --with-mpi tests/test_core/test_dist_backends

  build_cu112:
    machine:
      image: ubuntu-2004-cuda-11.2:202103-01
    resource_class: gpu.nvidia.small
    steps:
      - checkout
      - run:
          # CUDNN is required for Paddle to use GPU, otherwise, the test cases will report an error.
          name: Install CUDNN
          command: |
            OS=ubuntu2004
            cudnn_version=8.1.0.77
            cuda_version=cuda11.2
            wget https://developer.download.nvidia.com/compute/cuda/repos/${OS}/x86_64/cuda-${OS}.pin
            sudo mv cuda-${OS}.pin /etc/apt/preferences.d/cuda-repository-pin-600
            sudo apt-key adv --fetch-keys https://developer.download.nvidia.com/compute/cuda/repos/${OS}/x86_64/3bf863cc.pub
            sudo add-apt-repository "deb https://developer.download.nvidia.com/compute/cuda/repos/${OS}/x86_64/ /"
            sudo apt-get update
            sudo apt-get install libcudnn8=${cudnn_version}-1+${cuda_version}
            sudo apt-get install libcudnn8-dev=${cudnn_version}-1+${cuda_version}
      - run:
          name: Install PyTorch, Paddle and OneFlow via pip
          command: |
            pyenv global 3.9.2
            pip install --upgrade pip
            python -V
            pip install torch==1.7.1+cu110 -f https://download.pytorch.org/whl/torch_stable.html
            pip install paddlepaddle-gpu==2.3.2.post112 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
            # Install Oneflow often failed, we just skip it if failed.
            pip install --pre oneflow -f https://staging.oneflow.info/branch/master/cu112 "numpy<1.24.0" || true
      - run:
          name: Install mmeval and dependencies
          command: |
            pip install -r requirements/tests.txt
            pip install -r requirements/optional.txt
            pip install -e .
      - run:
          name: Run unittests
          command: |
            pytest -vv tests/


workflows:
  unit_tests:
    jobs:
      - lint
      - build_cpu:
          name: build_cpu_torch1.6_tf2.4
          torch: 1.6.0
          tensorflow: "2.4"
          requires:
            - lint
      - build_cpu:
          name: build_cpu_torch1.7_tf_2.6
          torch: 1.7.0
          tensorflow: "2.6"
          requires:
            - lint
      - build_cpu:
          name: build_cpu_torch1.8_tf2.7_py3.9
          torch: 1.8.0
          python: "3.9.0"
          tensorflow: "2.7"
          requires:
            - lint
      - build_cpu:
          name: build_cpu_torch1.9_paddle2.3_tf2.8_py3.8
          torch: 1.9.0
          paddle: 2.3.2
          tensorflow: "2.8"
          python: "3.8.12"
          requires:
            - lint
      - build_cpu:
          name: build_cpu_torch1.9_paddle2.10_py3.9
          torch: 1.9.0
          paddle: 2.4.0rc0
          tensorflow: "2.10"
          python: "3.9.0"
          requires:
            - lint
      - build_mpirun_and_tf:
          name: build_mpirun_and_tf_2.7
          tensorflow: "2.7"
          requires:
            - build_cpu_torch1.6_tf2.4
            - build_cpu_torch1.7_tf_2.6
            - build_cpu_torch1.8_tf2.7_py3.9
            - build_cpu_torch1.9_paddle2.3_tf2.8_py3.8
            - build_cpu_torch1.9_paddle2.10_py3.9
      - build_cu112:
          requires:
            - build_mpirun_and_tf_2.7
